$gray-1: #f1f3f5;
$gray-5: #fff;
$gray-2: #dee2e6;
$gray-5: #848c94;
$gray-3: #666d75;
$gray-4: #495056;
$gray-6: #ced4da;
$gray-7: #e9ecef;

$skyblue-1: #f5fbff;
$skyblue-4: #a7d4f9;
$skyblue-2: #51abf3;
$skyblue-3: #2b96ed;
$skyblue-7: #a7dae9;
$skyblue-5: #537797;
$skyblue-6: #e7f4fd;

$darkblue-1: #214364;

$black-1: #343a40;
$black-2: #373a3c;

$success: #28a745;
$danger: #dc3545;

*::-webkit-scrollbar {
  width: 0 !important;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕",
    Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: $gray-3;
  -webkit-overflow-scrolling: touch;
}

ul {
  display: flex;
}
.nav {
  justify-content: space-between;
}

.button--link {
  &:hover {
    color: $gray-4;
  }
}

.nav-title {
  // font-family: "Cairo", sans-serif;
  // font-size: 1.5rem;
  margin-top: 6px;
  background: url("../image/bestamericaservices-logo-transparent-url-color.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 250px;
  height: 40px;
}
.hamburger {
  display: none;
}
#mySidenav {
  // display: none;
}
.contact {
  padding: 10px 32px;
  border: 1px solid $skyblue-4;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 600;
  color: $skyblue-3;
  transition: background-color 0.15s ease;

  &:hover {
    background-color: $skyblue-1;
  }
}
.nav-buttons {
  margin: 4px 20px 0 20px;
}
.navbar {
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
}
.search-bar {
  position: relative;

  i {
    position: absolute;
    margin: 8px 0 0 10px;
    color: $skyblue-2;
  }
}

.search-result {
  position: absolute;
  // height: 200px;
  margin-top: 5px;
  border-radius: 5px;
  width: 287px;
  background-color: white;
  border: 1px solid $gray-6;
  display: none;
  z-index: 1;
}
.search-result-inner {
  margin: auto;
  margin-top: 7px;
  // background-color: red;
  width: 90%;
  // height: 90%;
}
.search-result-list {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-bottom: 8px;

  i {
    margin: 4px 0 0 4px;
  }
  span {
    margin-left: 27px;
  }
}
.result-list-item {
  margin: 3px 0;
  transition-duration: 0.2s;
  &:hover {
    background-color: $skyblue-4;
    transition-duration: 0.2s;
    cursor: pointer;
  }
}
.nav-left {
  display: flex;
  input {
    border: 1px solid $gray-6;
    border-radius: 6px;
    height: 30px;
    width: 130px;
    padding-left: 35px;
    font-size: 13px;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    &::placeholder {
      font-size: 13px;

      margin-bottom: 4px;
    }
    &:focus {
      width: 250px;
      transition-duration: 0.3s;
    }
  }
}
.chart {
  margin: auto;

  // justify-content: space-between;
  ul {
    display: flex;
    position: relative;

    li {
      margin-top: 5px;
      margin-right: 40px;
      // margin-bottom: 3px;

      a {
        line-height: 45px;
      }
    }
  }
}

.highlight {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  &:hover {
    border-bottom: 3px solid rgba(81, 171, 243, 0.5);
  }
}

.favorites-wrapper:last-child {
  position: absolute;
  right: 0;
  width: 305px;
  margin-right: 0px;

  &:hover {
    border: none;
  }
}

.favorites-inner {
  line-height: 45px;
  position: relative;
  display: flex;

  i {
    margin-top: 15px;
    margin-left: 10px;
  }

  #favorites {
    font-size: 14px;
    // margin-right: 23px;
    width: 90px;
  }
  #favorites-list {
    // font-size: 16px;
    font-weight: 700;
    overflow-y: hidden;
    ul {
      display: flex;
      flex-direction: column;
      max-height: 45px;
      // position: absolute;
      // overflow-y: hidden;

      li {
        margin-top: 1px;
        margin-right: 0px;
        font-size: 13px;
      }
    }
  }
  &:hover {
    #favorites-full-list {
      display: block;
      font-size: 12px;
      height: 29px;

      i {
        float: right;
        font-size: 11px;
        margin-top: 17px;
        color: $skyblue-3;
      }
    }

    .favorites-hover-box {
      border: 1px solid $gray-6;
      background-color: white;
      display: block;
    }
  }
}

.favorites-hover-inner {
  margin: 10px 20px 0 13px;
  color: $black-2;
  span:first-child {
    font-weight: bold;
  }
  hr {
    height: 1px;
    border: none;
    background-color: $gray-2;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.favorites-list {
  // margin-right: 50px;
}
// #favorites-full-list {
//   display: block;
// }

.favorites-hover-box {
  width: 300px;
  position: absolute;
  top: 0;
  left: -10px;
  display: none;
}
.currentTimeString {
  color: $gray-5;
  font-size: 9px;
  line-height: 22px;
  margin-bottom: 10px;
}
.space-between {
  display: flex;
  justify-content: space-between;
}

.narrow {
  max-width: 1060px;
  margin: auto;
}

.border-bottom-1 {
  border-bottom: 1px $gray-1 solid;
}
.border-bottom-2 {
  border-bottom: 1px $gray-2 solid;
}
.border-top {
  border-top: 1px $gray-2 solid;
}
.main-banner-1 {
  height: 360px;
  background: url("../image/banner/main-banner-01.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto 360px;
  overflow: hidden;
}
.main-banner-2 {
  height: 360px;
  background: url("../image/banner/sanfrancisco-banner-10.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto 360px;
  overflow: hidden;
}
.main-banner-3 {
  height: 100px;
  background: url("../image/banner/sanfrancisco-banner-5.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto 360px;
  overflow: hidden;
}
.space-top-bottom {
  margin-top: 40px;
  margin-bottom: 70px;
}
.detail-content {
  text-align: center;
  margin-top: 40px;
  h1 {
    font-size: 2em;
    color: $black-1;
  }
  h2 {
    font-size: 1.6em;
    color: $gray-5;
  }
}
.bannerSpacer {
  height: 360px;
}
.space-right {
  margin-right: 32px;
}

.active {
  font-weight: 600;
  color: $black-1;
  border-bottom: 3px solid $skyblue-3 !important;
  padding-bottom: 0;
}
.center {
  margin: 0 auto;
}
.name {
  li {
    font-size: 14px;
    font-weight: 400;
    padding: 15px 0;

    &:hover {
      cursor: pointer;
    }
  }

  li.active {
    color: $skyblue-3;
    font-weight: 500;
  }
}

.main-card-container {
  display: flex;
  flex-wrap: wrap;
  // background-color: green;
  // justify-content: space-between;
  margin-top: 24px;
  overflow-y: hidden;
}
.main-card {
  width: 250px;
  height: 290px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.16);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;

  &:last-child {
    margin-right: 0;
  }
}
.main-card-companies {
  width: 340px;
  height: 250px;

  display: flex;
  flex-direction: column;
  margin-right: 20px;

  &:nth-child(3n + 0) {
    margin-right: 0;
  }
}

#top {
  // flex-grow: 100;
  height: 170px;
  background: url("../image/banner/sanfrancisco-banner-4.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  overflow: hidden;
}
#bottom {
  // flex-grow: 40;
  height: 120px;
  // background-color: $skyblue-1;
}
.message {
  line-height: 50px;
  margin-left: 50px;
}
.text-success {
  color: $success;
}
.text-danger {
  color: $danger;
}
.footer {
  padding: 20px 0 5px 0;
  // height: 360px;
  background-color: $black-1;
  // position: absolute;
  // bottom: 0;
  // width: 100%;
}
.footer-wrapper {
  max-width: 460px;
  margin: auto;
}
.footer-inner {
  text-align: center;
}

.footer-content {
  height: 120px;
  display: flex;
  margin-bottom: 40px;
  // justify-content: space-between;
}

.footer-section {
  // min-width: 200px;
  margin-right: 60px;
  &:last-child {
    margin-right: 0;
    width: 300px;
  }
  h1 {
    color: $gray-5;
    margin-bottom: 10px;
    font-size: 14px;
  }
}
.footer-fontawesome {
  font-size: 28px;
  i {
    margin-right: 20px;
  }
}

.footer-menu {
  color: white;
  font-weight: 400;
  margin-bottom: 30px;
  min-width: 120px;
  h2 {
    color: $gray-2;
    font-size: 13px;
    font-weight: 300;
  }
}
.footer-items {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  letter-spacing: normal;
}
.footer-copyright {
  font-size: 12px;
}
.footer-subscription {
  position: relative;
  margin-top: 15px;

  input[type="text"] {
    background-color: white;
    padding: 12px 10px;
    margin-right: 10px;
    width: 200px;
    color: $gray-3;
    height: 10px;
  }

  input[type="button"] {
    border: 1px solid white;
    // height: 0;
    padding: 9px 15px;
    font-size: 0.7em;
    position: absolute;
    bottom: -1px;
  }
}

h2 {
  color: $black-1;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.conf-desc {
  margin: 5px 15px;
  height: 85%;
  position: relative;

  #location {
    color: $gray-5;
    font-size: 12px;
    height: 16px;
    letter-spacing: -0.2px;
    margin-bottom: 2px;
  }
  #name {
    color: $black-1;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    max-height: 40px;
  }
  #date {
    bottom: auto;
    color: $gray-3;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    right: auto;
    position: absolute;
    bottom: 0;
  }
}

.com-desc {
  margin-left: 0;
  display: flex;
}
.block {
  #date {
    position: inherit;
  }
}

.about-page-content-1 {
  height: 570px;
  // background-color: $skyblue-4;
}
.about-page-content-2 {
  height: 680px;
  background-color: $skyblue-6;
}

.info-text-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 75px 0;
  // margin: 0 80px;
}

.info-text {
  margin-left: 90px;
  padding: 80px 0;

  p {
    min-width: 300px;
    font-size: 35px;
    animation: fadein 2s;
  }
}

.info-picture {
  background: url("../image/service-1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 450px;
  height: 260px;
  margin: 80px 90px;
  // position: absolute;
  // top: 30%;
  // left: 53%;
  // animation: fadein 2s;
}
.info-cards-wrapper {
  margin: auto;
  width: 70%;
  padding: 70px;

  h1 {
    text-align: center;

    color: $black-2;
    font-size: 2.2em;
    margin-bottom: 60px;
  }
}
.info-cards-container {
  display: flex;
  .info-card {
    margin-right: 60px;
    flex: 1;
    min-width: 120px;
    height: 350px;
    // border: 1px solid black;
    border-radius: 12px;
    background-color: white;

    &:last-child {
      margin-right: 0;
    }
  }
}

.info-card-conference {
  background: url("../image/conference.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 40%;
  height: 140px;
  margin: auto;
  margin-top: 30px;
}
.info-card-enterprise {
  background: url("../image/enterprise.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 40%;
  height: 140px;
  margin: auto;
  margin-top: 30px;
}
.info-card-languages {
  background: url("../image/languages.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 40%;
  height: 140px;
  margin: auto;
  margin-top: 30px;
}
.info-card-desc {
  margin: 0 10px;
  h1 {
    margin-top: 15px;
    font-size: 1.7rem;
    margin-bottom: 15px;
  }
}
.contact-wrapper {
  max-width: 520px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 60px;
  margin-bottom: 60px;
  h1 {
    font-size: 2rem;
  }
}
.contact-image {
  background: url("../image/contact.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  margin: auto;
  z-index: -1;
  position: absolute;
  opacity: 0.5;
}
.contact-form {
  margin-top: 40px;
  label {
    font-size: 1rem;
    font-weight: 400;
    display: -webkit-inline-box;
    width: 200px;
    color: $black-1;
    padding: 7px 0;
  }
  input,
  button,
  textarea {
    border: 1px solid $gray-6;
    flex: 1;
    padding: 0 10px;

    &::placeholder {
      font-size: 12px;
    }
  }

  .button {
    height: 45px;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  #cancel {
    background-color: $gray-6;
    border-color: $gray-6;
    color: $black-2;
    transition-duration: 0.2s;
    &:hover {
      background-color: $gray-5;
      transition-duration: 0.2s;
      cursor: pointer;
    }
  }
  #send {
    background-color: $skyblue-2;
    transition-duration: 0.2s;
    color: white;
    &:hover {
      background-color: $skyblue-3;
      transition-duration: 0.2s;
      cursor: pointer;
    }
  }

  textarea {
    height: 250px;
    resize: none;
  }
}
.contact-form-inner {
  display: flex;
  margin-bottom: 20px;
}

.eventTable {
  max-width: 700px;
  margin: 50px auto 50px auto;
}
table {
  border: 1px solid $gray-6;
  border-collapse: collapse;
  width: 100%;

  ul {
    text-align: left;
    flex-direction: column;
    list-style: disc;
    margin-left: 20px;
  }
}
table td,
table th {
  border: 1px solid $gray-6;
  padding: 10px;
}

tr {
  color: $black-2;
}
td:first-child {
  width: 150px;
}

.border-white {
  border: 1px solid white;
}

.border-yellow {
  border: 1px solid yellow;
}
.border-green {
  border: 1px solid green;
}
.hidden {
  display: none;
}

// Side Navigation for smaller than screen width 500px;
.sidenav {
  height: 0;
  width: 100%;
  display: block;
  // position: absolute;
  // z-index: 2;
  // top: 0;
  // right: 0;
  // background-color: #31353d;
  background-color: $skyblue-3;
  // overflow-x: hidden;
  -webkit-transition: 0.3s;
  transition-duration: 0.3s;
  // padding-top: 60px;

  .menu {
    // min-width: 200px;
    display: none;
    opacity: 0;
    animation: fadein-2 1.3s;
  }
}

.sidenav a {
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: $gray-7;
  display: none;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #fff;
}

// .sidenav .closebtn {
//   position: absolute;
//   top: 0;
//   right: 25px;
//   font-size: 36px;
//   margin-left: 50px;
// }

@keyframes fadein {
  from {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fadein-2 {
  from {
    opacity: 0;
    // transform: translate(-10px, -10px);
  }
  to {
    opacity: 1;
    // transform: translate(0, 0);
  }
}

@media only screen and (max-width: 1100px) {
  .narrow {
    max-width: 810px;
  }
  .main-card-companies {
    width: 255px;
    a {
      div {
        height: 140px !important;
      }
    }
  }
  .info-text {
    p {
      font-size: 2em;
    }
  }
  .info-picture {
    margin: 80px 40px;
  }
  .info-card-languages,
  .info-card-enterprise,
  .info-card-conference {
    height: 110px;
  }
  .info-card-desc {
    h1 {
      font-size: 1.3em;
    }
  }
}
@media only screen and (min-width: 851px) {
  .main-card-companies:nth-child(3n + 0) {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 850px) {
  .narrow {
    max-width: 650px;
  }
  .main-card {
    margin: 20px 35px;
  }
  .about-page-content-1 {
    height: 500px;
  }
  .about-page-content-2 {
    height: 550px;
  }
  .info-cards-container .info-card {
    height: 315px;
  }
  .info-text {
    margin-left: 40px;
    p {
      font-size: 1.5em;
    }
  }

  .info-picture {
    margin: 80px 40px 80px 0;
  }
  .info-card-desc {
    h1 {
      font-size: 1.1em;
    }
    span {
      font-size: 0.9em;
    }
  }

  .info-card-languages,
  .info-card-enterprise,
  .info-card-conference {
    height: 80px;
  }
  .main-card-companies {
    &:nth-child(3n + 0) {
      margin-right: 20px;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }

    width: 315px;
    a {
      div {
        height: 170px !important;
      }
    }
  }
}
@media only screen and (max-width: 690px) {
  .search-bar {
    display: none;
  }
  .main-banner-1 {
    height: 250px;
    background-size: auto 250px;
  }
  .narrow {
    max-width: 605px;
    margin: 0 25px;
  }
  .main-card {
    // margin: 20px 25px;
    margin: 0 20px 0 0;
    width: 285px;
    height: 260px;

    a {
      #top {
        height: 150px !important;
        background-size: 75% !important;
      }
    }
  }
  .conf-desc {
    height: 75%;
  }
  .main-card,
  .main-card-companies {
    scroll-snap-align: start;
  }
  .main-card-container {
    scroll-snap-type: mandatory;
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: x mandatory;
    display: -webkit-box;
    overflow-x: scroll;
    margin-top: 15px !important;
    height: 285px;
  }
  .space-top-bottom {
    margin-top: 25px;
    margin-bottom: 40px;
  }
  .main-card-companies {
    width: 285px;
    a {
      div {
        height: 160px !important;
      }
    }
    &:nth-child(3n + 0) {
      margin-right: 20px;
    }
    &:nth-child(2n) {
      margin-right: 20px;
    }
  }
  .info-cards-container {
    flex-direction: column;
  }
  .info-card {
    margin: 0 auto 40px auto !important;
  }
  .info-card-languages,
  .info-card-enterprise,
  .info-card-conference {
    height: 200px;
  }

  .info-card-desc {
    text-align: center;
    width: 80%;
    margin: auto auto 30px auto !important;

    h1 {
      font-size: 2em;
    }
    span {
      font-size: 1em;
    }
  }
  .about-page-content-2 {
    height: auto;
  }
  .info-cards-container .info-card {
    height: auto;
    // margin: 0 20px 40px 20px !important;
  }
  .info-card-desc {
    margin: 20px 10px 30px 10px;
  }
  .content-mobile {
    margin: 20px 35px;
  }
  .banner-mobile {
    margin: 0 auto !important;
    height: 250px !important;
    width: auto !important;
    // background-size: auto !important;
  }
}
@media only screen and (max-width: 615px) {
  .info-cards-wrapper {
    margin: auto;
    h1 {
      font-size: 1.8em;
    }
  }
  .info-text {
    width: 200px;
    p {
      font-size: 1.2em;
    }
  }
  .info-picture {
    margin-top: 55px;
  }

  .contact-form-inner {
    flex-direction: column;
    &:last-child {
      flex-direction: row;
      label {
        display: none;
      }
    }
  }
  .contact-image {
    margin-top: 30px;
  }
  .contact-wrapper {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
  }
  .contact-form {
    label {
      font-size: 1.2em;
    }
    input {
      padding: 5px 10px;
    }
  }
}
@media only screen and (max-width: 500px) {
  .search-bar,
  .nav-buttons,
  header {
    display: none;
  }
  .narrow {
    max-width: 300px;
    margin: auto;
    // margin-bottom: 15px;
  }
  .main-banner-1 {
    height: 195px;
    background-position: 47% 50%;
    background-size: auto 195px;
  }
  .space-top-bottom {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  h2 {
    margin-bottom: 15px;
  }
  .chart {
    ul {
      li {
        margin-right: 30px;
      }
    }
  }

  .main-card-companies {
    height: 205px;
    width: 300px;
  }
  .main-card {
    margin-right: 25px !important;
    width: 300px;
  }
  .name {
    li {
      margin-top: 0;
      padding: 10px 0;
    }
  }
  .footer-wrapper {
    padding-left: 30px;
  }
  .footer-content {
    display: contents;
  }
  .footer-copyright {
    font-size: 10px;
  }
  .hamburger {
    display: block !important;
    padding: 0;
    right: 30px;
    top: 35px;
    position: absolute;
  }
  .hamburger-box {
    // height: 15px;
  }
  .hamburger-inner {
    // width: 30px;
  }
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 30px;
  }
  .info-text-wrapper {
    flex-direction: column-reverse;
  }
  .info-picture {
    width: 100%;
    margin: auto;
    height: 200px;
  }
  .info-text {
    padding: 0;
    margin: auto;
  }
  .about-page-content-1 {
    height: 400px;
  }
  .info-cards-wrapper {
    h1 {
      font-size: 1.2em;
    }
    padding: 30px 0 0 0 !important;
  }
  .info-text-wrapper {
    padding: 20px 0;
  }
  .info-card-languages,
  .info-card-enterprise,
  .info-card-conference {
    height: 120px;
  }
  .content-mobile {
    margin: 20px 35px;
  }
  .banner-mobile {
    margin: 0 !important;
    background-size: 100% !important;
    max-width: unset;
    height: 150px !important;
  }
  .company-detail-mobile {
    margin: auto !important;
    max-width: 65%;
  }
  .detail-content {
    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 1.3em;
    }
  }
  .event-table {
    font-size: 0.9em;
  }
  td:first-child {
    width: 95px;
  }
}

// @media only screen and (min-width: 1024px){.show-on-tablet{display:none !important}}
// @media only screen and (min-width: 1440px){.show-on-desktop{display:none !important}}
// @media only screen and (min-width: 641px){.show-event-on-mobile{display:none !important}}
// @media only screen and (max-width: 767px){.hide-on-mobile{display:none !important}}
// @media only screen and (max-width: 1023px){.hide-on-tablet{display:none !important}}
// @media only screen and (max-width: 1439px){.hide-on-desktop{display:none !important}}
// @media only screen and (max-width: 640px){.hide-event-on-mobile{display:none !important}}.hidden-desktop-up{display:none !important}
// @media screen and (max-width: 1023px){.hidden-desktop-up{display:block !important}}.hidden-tablet-down{display:block !important}
// @media screen and (max-width: 1023px){.hidden-tablet-down{display:none !important}}
// @media screen and (max-width: 1023px){.stop-scrolling-under-tablet{overflow:hidden !important}}.body-scroll-lock{overflow:hidden}.float-right{float:right}.border-shadow{border-radius:2px;box-shadow:0 0 0 1px rgba(0,0,0,0.05),0 2px 4px 0 rgba(0,0,0,0.15)}button:focus{outline:none}
// @media only screen and (min-width: 768px){.show-on-mobile{display:none !important}}
// @media only screen and (min-width: 1024px){.show-on-tablet{display:none !important}}
// @media only screen and (min-width: 1440px){.show-on-desktop{display:none !important}}
// @media only screen and (min-width: 641px){.show-event-on-mobile{display:none !important}}
// @media only screen and (max-width: 767px){.hide-on-mobile{display:none !important}}
// @media only screen and (max-width: 1023px){.hide-on-tablet{display:none !important}}
// @media only screen and (max-width: 1439px){.hide-on-desktop{display:none !important}}
// @media only screen and (max-width: 640px){.hide-event-on-mobile{display:none !important}}.hidden-desktop-up{display:none !important}
// @media screen and (max-width: 1023px){.hidden-desktop-up{display:block !important}}.hidden-tablet-down{display:block !important}
// @media screen and (max-width: 1023px){.hidden-tablet-down{display:none !important}}
// @media screen and (max-width: 1023px){.stop-scrolling-under-tablet{overflow:hidden !important}}.body-scroll-lock{overflow:hidden}.float-right{float:right}.border-shadow{border-radius:2px;box-shadow:0 0 0 1px rgba(0,0,0,0.05),0 2px 4px 0 rgba(0,0,0,0.15)}button:focus{outline:none}.GlobalNavBar{max-width:1060px;height:48px;position:relative;margin:0 auto;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between}
// @media screen and (max-width: 1023px) and (min-width: 768px){.GlobalNavBar{height:66px}}
// @media screen and (min-width: 1024px){.GlobalNavBar{height:73px;-ms-flex-pack:start;justify-content:flex-start}}
// @media screen and (max-width: 1023px){.GlobalNavBar{width:100%}}
// @media screen and (max-width: 1439px) and (min-width: 1024px){.GlobalNavBar{max-width:928px}}html.no-flexbox .GlobalNavBar .Logo,html.no-flexbox .GlobalNavBar .HeaderSearchBar{float:left}html.no-flexbox .GlobalNavBar .Logo{margin-top:22.5px}html.no-flexbox .GlobalNavBar .HeaderSearchBar{width:330px;margin-top:12.5px}
