@charset "UTF-8";
*::-webkit-scrollbar {
  width: 0 !important;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #666d75;
  -webkit-overflow-scrolling: touch;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button--link:hover {
  color: #495056;
}

.nav-title {
  margin-top: 6px;
  background: url("../image/bestamericaservices-logo-transparent-url-color.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 250px;
  height: 40px;
}

.hamburger {
  display: none;
}

.contact {
  padding: 10px 32px;
  border: 1px solid #a7d4f9;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 600;
  color: #2b96ed;
  -webkit-transition: background-color 0.15s ease;
  transition: background-color 0.15s ease;
}

.contact:hover {
  background-color: #f5fbff;
}

.nav-buttons {
  margin: 4px 20px 0 20px;
}

.navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
}

.search-bar {
  position: relative;
}

.search-bar i {
  position: absolute;
  margin: 8px 0 0 10px;
  color: #51abf3;
}

.search-result {
  position: absolute;
  margin-top: 5px;
  border-radius: 5px;
  width: 300px;
  background-color: white;
  border: 1px solid #ced4da;
  display: none;
  z-index: 1;
}

.search-result-inner {
  margin: auto;
  margin-top: 7px;
  width: 90%;
}

.search-result-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  margin-bottom: 8px;
}

.search-result-list i {
  margin: 4px 0 0 4px;
}

.search-result-list span {
  margin-left: 27px;
}

.result-list-item {
  margin: 3px 0;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.result-list-item:hover {
  background-color: #a7d4f9;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}

.nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-left input {
  border: 1px solid #ced4da;
  border-radius: 6px;
  height: 30px;
  width: 130px;
  padding-left: 35px;
  font-size: 13px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-left input::-webkit-input-placeholder {
  font-size: 13px;
  margin-bottom: 4px;
}

.nav-left input:-ms-input-placeholder {
  font-size: 13px;
  margin-bottom: 4px;
}

.nav-left input::-ms-input-placeholder {
  font-size: 13px;
  margin-bottom: 4px;
}

.nav-left input::placeholder {
  font-size: 13px;
  margin-bottom: 4px;
}

.nav-left input:focus {
  width: 250px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.chart {
  margin: auto;
}

.chart ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.chart ul li {
  margin-top: 5px;
  margin-right: 40px;
}

.chart ul li a {
  line-height: 45px;
}

.highlight {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.highlight:hover {
  border-bottom: 3px solid rgba(81, 171, 243, 0.5);
}

.favorites-wrapper:last-child {
  position: absolute;
  right: 0;
  width: 305px;
  margin-right: 0px;
}

.favorites-wrapper:last-child:hover {
  border: none;
}

.favorites-inner {
  line-height: 45px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.favorites-inner i {
  margin-top: 15px;
  margin-left: 10px;
}

.favorites-inner #favorites {
  font-size: 14px;
  width: 90px;
}

.favorites-inner #favorites-list {
  font-weight: 700;
  overflow-y: hidden;
}

.favorites-inner #favorites-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 45px;
}

.favorites-inner #favorites-list ul li {
  margin-top: 1px;
  margin-right: 0px;
  font-size: 13px;
}

.favorites-inner:hover #favorites-full-list {
  display: block;
  font-size: 12px;
  height: 29px;
}

.favorites-inner:hover #favorites-full-list i {
  float: right;
  font-size: 11px;
  margin-top: 17px;
  color: #2b96ed;
}

.favorites-inner:hover .favorites-hover-box {
  border: 1px solid #ced4da;
  background-color: white;
  display: block;
}

.favorites-hover-inner {
  margin: 10px 20px 0 13px;
  color: #373a3c;
}

.favorites-hover-inner span:first-child {
  font-weight: bold;
}

.favorites-hover-inner hr {
  height: 1px;
  border: none;
  background-color: #dee2e6;
  margin-top: 20px;
  margin-bottom: 0;
}

.favorites-hover-box {
  width: 300px;
  position: absolute;
  top: 0;
  left: -10px;
  display: none;
}

.currentTimeString {
  color: #848c94;
  font-size: 9px;
  line-height: 22px;
  margin-bottom: 10px;
}

.space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.narrow {
  max-width: 1060px;
  margin: auto;
}

.border-bottom-1 {
  border-bottom: 1px #f1f3f5 solid;
}

.border-bottom-2 {
  border-bottom: 1px #dee2e6 solid;
}

.border-top {
  border-top: 1px #dee2e6 solid;
}

.main-banner-1 {
  height: 360px;
  background: url("../image/banner/main-banner-01.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto 360px;
  overflow: hidden;
}

.main-banner-2 {
  height: 360px;
  background: url("../image/banner/sanfrancisco-banner-10.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto 360px;
  overflow: hidden;
}

.main-banner-3 {
  height: 100px;
  background: url("../image/banner/sanfrancisco-banner-5.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto 360px;
  overflow: hidden;
}

.space-top-bottom {
  margin-top: 40px;
  margin-bottom: 70px;
}

.detail-content {
  text-align: center;
  margin-top: 40px;
}

.detail-content h1 {
  font-size: 2em;
  color: #343a40;
}

.detail-content h2 {
  font-size: 1.6em;
  color: #848c94;
}

.bannerSpacer {
  height: 360px;
}

.space-right {
  margin-right: 32px;
}

.active {
  font-weight: 600;
  color: #343a40;
  border-bottom: 3px solid #2b96ed !important;
  padding-bottom: 0;
}

.center {
  margin: 0 auto;
}

.name li {
  font-size: 14px;
  font-weight: 400;
  padding: 15px 0;
}

.name li:hover {
  cursor: pointer;
}

.name li.active {
  color: #2b96ed;
  font-weight: 500;
}

.main-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 24px;
  overflow-y: hidden;
}

.main-card {
  width: 250px;
  height: 290px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.16);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.16);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;
}

.main-card:last-child {
  margin-right: 0;
}

.main-card-companies {
  width: 340px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
}

.main-card-companies:nth-child(3n + 0) {
  margin-right: 0;
}

#top {
  height: 170px;
  background: url("../image/banner/sanfrancisco-banner-4.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  overflow: hidden;
}

#bottom {
  height: 120px;
}

.message {
  line-height: 50px;
  margin-left: 50px;
}

.text-success {
  color: #28a745;
}

.text-danger {
  color: #dc3545;
}

.footer {
  padding: 20px 0 5px 0;
  background-color: #343a40;
}

.footer-wrapper {
  max-width: 460px;
  margin: auto;
}

.footer-inner {
  text-align: center;
}

.footer-content {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.footer-section {
  margin-right: 60px;
}

.footer-section:last-child {
  margin-right: 0;
  width: 300px;
}

.footer-section h1 {
  color: #848c94;
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-fontawesome {
  font-size: 28px;
}

.footer-fontawesome i {
  margin-right: 20px;
}

.footer-menu {
  color: white;
  font-weight: 400;
  margin-bottom: 30px;
  min-width: 120px;
}

.footer-menu h2 {
  color: #dee2e6;
  font-size: 13px;
  font-weight: 300;
}

.footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  letter-spacing: normal;
}

.footer-copyright {
  font-size: 12px;
}

.footer-subscription {
  position: relative;
  margin-top: 15px;
}

.footer-subscription input[type="email"] {
  background-color: white;
  padding: 12px 10px;
  margin-right: 10px;
  width: 200px;
  color: #666d75;
  height: 10px;
}

.footer-subscription input[type="submit"] {
  border: 1px solid white;
  padding: 9px 15px;
  font-size: 0.7em;
  position: absolute;
  bottom: -1px;
}

h2 {
  color: #343a40;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.conf-desc {
  margin: 5px 15px;
  height: 85%;
  position: relative;
}

.conf-desc #location {
  color: #848c94;
  font-size: 12px;
  height: 16px;
  letter-spacing: -0.2px;
  margin-bottom: 2px;
}

.conf-desc #name {
  color: #343a40;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  max-height: 40px;
}

.conf-desc #date {
  bottom: auto;
  color: #666d75;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  right: auto;
  position: absolute;
  bottom: 0;
}

.com-desc {
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block #date {
  position: inherit;
}

.about-page-content-1 {
  height: 570px;
}

.about-page-content-2 {
  height: 680px;
  background-color: #e7f4fd;
}

.info-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 75px 0;
}

.info-text {
  margin-left: 90px;
  padding: 80px 0;
}

.info-text p {
  min-width: 300px;
  font-size: 35px;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

.info-picture {
  background: url("../image/service-1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 450px;
  height: 260px;
  margin: 80px 90px;
}

.info-cards-wrapper {
  margin: auto;
  width: 70%;
  padding: 70px;
}

.info-cards-wrapper h1 {
  text-align: center;
  color: #373a3c;
  font-size: 2.2em;
  margin-bottom: 60px;
}

.info-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-cards-container .info-card {
  margin-right: 60px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 120px;
  height: 350px;
  border-radius: 12px;
  background-color: white;
}

.info-cards-container .info-card:last-child {
  margin-right: 0;
}

.info-card-conference {
  background: url("../image/conference.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 40%;
  height: 140px;
  margin: auto;
  margin-top: 30px;
}

.info-card-enterprise {
  background: url("../image/enterprise.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 40%;
  height: 140px;
  margin: auto;
  margin-top: 30px;
}

.info-card-languages {
  background: url("../image/languages.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 40%;
  height: 140px;
  margin: auto;
  margin-top: 30px;
}

.info-card-desc {
  margin: 0 10px;
}

.info-card-desc h1 {
  margin-top: 15px;
  font-size: 1.7rem;
  margin-bottom: 15px;
}

.contact-wrapper {
  max-width: 520px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 60px;
  margin-bottom: 60px;
}

.contact-wrapper h1 {
  font-size: 2rem;
}

.contact-image {
  background: url("../image/contact.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  margin: auto;
  z-index: -1;
  position: absolute;
  opacity: 0.5;
}

.contact-form {
  margin-top: 40px;
}

.contact-form label {
  font-size: 1rem;
  font-weight: 400;
  display: -webkit-inline-box;
  width: 200px;
  color: #343a40;
  padding: 7px 0;
}

.contact-form input,
.contact-form button,
.contact-form textarea {
  border: 1px solid #ced4da;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 10px;
}

.contact-form input::-webkit-input-placeholder,
.contact-form button::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
  font-size: 12px;
}

.contact-form input:-ms-input-placeholder,
.contact-form button:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder {
  font-size: 12px;
}

.contact-form input::-ms-input-placeholder,
.contact-form button::-ms-input-placeholder,
.contact-form textarea::-ms-input-placeholder {
  font-size: 12px;
}

.contact-form input::placeholder,
.contact-form button::placeholder,
.contact-form textarea::placeholder {
  font-size: 12px;
}

.contact-form .button {
  height: 45px;
  border-radius: 5px;
  text-align: center;
  margin-right: 10px;
}

.contact-form .button:last-child {
  margin-right: 0;
}

.contact-form #cancel {
  background-color: #ced4da;
  border-color: #ced4da;
  color: #373a3c;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.contact-form #cancel:hover {
  background-color: #848c94;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}

.contact-form #send {
  background-color: #51abf3;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  color: white;
}

.contact-form #send:hover {
  background-color: #2b96ed;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}

.contact-form textarea {
  height: 250px;
  resize: none;
}

.contact-form-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.eventTable {
  max-width: 700px;
  margin: 50px auto 50px auto;
}

table {
  border: 1px solid #ced4da;
  border-collapse: collapse;
  width: 100%;
}

table ul {
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: disc;
  margin-left: 20px;
}

table td,
table th {
  border: 1px solid #ced4da;
  padding: 10px;
}

tr {
  color: #373a3c;
}

td:first-child {
  width: 15%;
  max-width: 170px;
  min-width: 50px;
}

.border-white {
  border: 1px solid white;
}

.border-yellow {
  border: 1px solid yellow;
}

.border-green {
  border: 1px solid green;
}

.hidden {
  display: none;
}

.sidenav {
  height: 0;
  width: 100%;
  display: block;
  background-color: #2b96ed;
  -webkit-transition: 0.3s;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.sidenav .menu {
  display: none;
  opacity: 0;
  -webkit-animation: fadein-2 1.3s;
          animation: fadein-2 1.3s;
}

.sidenav a {
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #e9ecef;
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #fff;
}

.dotstyle {
  display: none;
}

/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
  	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes fadein-2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein-2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1100px) {
  .narrow {
    max-width: 810px;
  }
  .main-card-companies {
    width: 255px;
  }
  .main-card-companies a div {
    height: 140px !important;
  }
  .info-text p {
    font-size: 2em;
  }
  .info-picture {
    margin: 80px 40px;
  }
  .info-card-languages,
  .info-card-enterprise,
  .info-card-conference {
    height: 110px;
  }
  .info-card-desc h1 {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 851px) {
  .main-card-companies:nth-child(3n + 0) {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 850px) {
  .narrow {
    max-width: 650px;
  }
  .main-card {
    margin: 20px 35px;
  }
  .about-page-content-1 {
    height: 500px;
  }
  .about-page-content-2 {
    height: 550px;
  }
  .info-cards-container .info-card {
    height: 315px;
  }
  .info-text {
    margin-left: 40px;
  }
  .info-text p {
    font-size: 1.5em;
  }
  .info-picture {
    margin: 80px 40px 80px 0;
  }
  .info-card-desc h1 {
    font-size: 1.1em;
  }
  .info-card-desc span {
    font-size: 0.9em;
  }
  .info-card-languages,
  .info-card-enterprise,
  .info-card-conference {
    height: 80px;
  }
  .main-card-companies {
    width: 315px;
  }
  .main-card-companies:nth-child(3n + 0) {
    margin-right: 20px;
  }
  .main-card-companies:nth-child(2n) {
    margin-right: 0;
  }
  .main-card-companies a div {
    height: 170px !important;
  }
}

@media only screen and (max-width: 690px) {
  .search-bar {
    display: none;
  }
  .main-banner-1 {
    height: 250px;
    background-size: auto 250px;
  }
  .narrow {
    max-width: 605px;
    margin: 0 25px;
  }
  .main-card {
    margin: 0 20px 0 0;
    width: 285px;
    height: 260px;
  }
  .main-card a #top {
    height: 150px !important;
    background-size: 75% !important;
  }
  .conf-desc {
    height: 75%;
  }
  .main-card,
  .main-card-companies {
    scroll-snap-align: start;
  }
  .main-card-container {
    -ms-scroll-snap-type: mandatory;
        scroll-snap-type: mandatory;
    -ms-scroll-snap-points-x: repeat(300px);
        scroll-snap-points-x: repeat(300px);
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    display: -webkit-box;
    overflow-x: scroll;
    margin-top: 15px !important;
    height: 285px;
  }
  .space-top-bottom {
    margin-top: 25px;
    margin-bottom: 40px;
  }
  .main-card-companies {
    width: 285px;
  }
  .main-card-companies a div {
    height: 160px !important;
  }
  .main-card-companies:nth-child(3n + 0) {
    margin-right: 25px;
  }
  .main-card-companies:nth-child(2n) {
    margin-right: 25px;
  }
  .info-cards-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-card {
    margin: 0 auto 40px auto !important;
  }
  .info-card-languages,
  .info-card-enterprise,
  .info-card-conference {
    height: 200px;
  }
  .info-card-desc {
    text-align: center;
    width: 80%;
    margin: auto auto 30px auto !important;
  }
  .info-card-desc h1 {
    font-size: 2em;
  }
  .info-card-desc span {
    font-size: 1em;
  }
  .about-page-content-2 {
    height: auto;
  }
  .info-cards-container .info-card {
    height: auto;
  }
  .info-card-desc {
    margin: 20px 10px 30px 10px;
  }
  .content-mobile {
    margin: 20px 35px;
  }
  .banner-mobile {
    margin: 0 auto !important;
    height: 250px !important;
    width: auto !important;
  }
  #com-list,
  #univ-list {
    height: 210px;
  }
}

@media only screen and (max-width: 615px) {
  .info-cards-wrapper {
    margin: auto;
  }
  .info-cards-wrapper h1 {
    font-size: 1.8em;
  }
  .info-text {
    width: 200px;
  }
  .info-text p {
    font-size: 1.2em;
  }
  .info-picture {
    margin-top: 55px;
  }
  .contact-form-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-form-inner:last-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact-form-inner:last-child label {
    display: none;
  }
  .contact-image {
    margin-top: 30px;
  }
  .contact-wrapper {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
  }
  .contact-form label {
    font-size: 1.2em;
  }
  .contact-form input {
    padding: 5px 10px;
  }
}

@media only screen and (max-width: 500px) {
  .search-bar,
  .nav-buttons,
  header {
    display: none;
  }
  .narrow {
    max-width: 300px;
    margin: auto;
  }
  .main-banner-1 {
    height: 195px;
    background-position: 47% 50%;
    background-size: auto 195px;
  }
  .space-top-bottom {
    margin-top: 20px;
    margin-bottom: 60px;
  }
  h2 {
    margin-bottom: 15px;
  }
  .chart ul li {
    margin-right: 30px;
  }
  .main-card-companies {
    height: 205px;
    width: 300px;
    margin-right: 25px;
  }
  .main-card {
    margin-right: 25px !important;
    width: 300px;
  }
  .main-card-container::-webkit-scrollbar-track {
    display: none;
    background-color: transparent;
  }
  .name li {
    margin-top: 0;
    padding: 10px 0;
  }
  .footer-wrapper {
    padding-left: 30px;
  }
  .footer-content {
    display: contents;
  }
  .footer-copyright {
    font-size: 10px;
  }
  .hamburger {
    display: block !important;
    padding: 0;
    right: 30px;
    top: 35px;
    position: absolute;
  }
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 30px;
  }
  .info-text-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .info-picture {
    width: 100%;
    margin: auto;
    height: 200px;
  }
  .info-text {
    padding: 0;
    margin: auto;
  }
  .about-page-content-1 {
    height: 400px;
  }
  .info-cards-wrapper {
    padding: 30px 0 0 0 !important;
  }
  .info-cards-wrapper h1 {
    font-size: 1.2em;
  }
  .info-text-wrapper {
    padding: 20px 0;
  }
  .info-card-languages,
  .info-card-enterprise,
  .info-card-conference {
    height: 120px;
  }
  .content-mobile {
    margin: 20px 35px;
  }
  .banner-mobile {
    margin: 0 !important;
    background-size: 100% !important;
    max-width: unset;
    height: 150px !important;
  }
  .company-detail-mobile {
    margin: auto !important;
    max-width: 65%;
  }
  .detail-content h1 {
    font-size: 1.5em;
  }
  .detail-content h2 {
    font-size: 1.3em;
  }
  .event-table {
    font-size: 0.9em;
  }
  td:first-child {
    width: auto;
  }
  .table-grid-mobile-univ td:first-child {
    width: 55px;
  }
  .event-detail-wrapper {
    max-width: unset !important;
  }
  .dotstyle {
    display: inherit;
  }
  .dot-spacing {
    margin: 0 4px !important;
    width: 5px !important;
    height: 5px !important;
  }
}
/*# sourceMappingURL=application.css.map */